<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=summarize" />
  <title>Content Summarizer</title>
</head>
<body>
  <div class="container">
    <h1>Summarize This !</h1>
    <!-- <p>Effortlessly summarize large content into concise, meaningful insights using AI.</p> -->
    <form action="/summarize" method="POST">
      <textarea name="content" rows="10" placeholder="Enter content to summarize"></textarea>
      <button type="submit">Summarize</button>
    </form>
  </div>
</body>
</html>
